<!--Division for heading-->
<div class="container-fluid">
  <div class="row bg-success justify-content-center
			align-items-center" style="height:80px">
    <div class="col-3"></div>
    <div class="col-6 text-light h2">
      Seb's Todo List
    </div>
  </div>
  <!-- TODO: Full width on mobile screens, 8 col / 12 otherwise -->
  <!--Division for taking input from user - Only visible when creating a task -->
  <form *ngIf="!isEditable" [formGroup]="registerForm" (ngSubmit)="createTaskOnSubmit()" class="col-7 form-control">
    <h3>To create a task, please fill out the form below.</h3>
    <div class="form-group">
      <label for="title">Task Title:</label>
      <input type="text" formControlName="title" class="form-control" />
    </div>
    <div class="form-group">
      <label>Task Completed:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="completed" name="completed" id="completed-edit" [value]="true" checked>
        <label class="form-check-label" for="completed">
          Yes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="completed" name="completed" id="not-completed-edit" [value]="false">
        <label class="form-check-label" for="completed">
          No
        </label>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success">Create Task</button>
    </div>
  </form>

  <!--Division for taking input from user - Only visible when editing a task-->
  <form *ngIf="isEditable" [formGroup]="registerForm" (ngSubmit)="modifyTask()" class="col-7 form-control">
    <h3>To edit the selected task, please fill out the form below.</h3>
    <div class="form-group">
      <label for="title">Task Title:</label>
      <input type="text" formControlName="title" class="form-control" placeholder="items[this.index]['title']">
    </div>
    <div class="form-group">
      <label>Task Completed:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="completed" name="completed" id="completed" [value]="true" checked>
        <label class="form-check-label" for="completed">
          Yes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="completed" name="completed" id="not-completed" [value]="false">
        <label class="form-check-label" for="completed">
          No
        </label>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-success">Update Task</button>
    </div>
  </form>

  <!--Table filter options-->
  <button type="button" class="btn btn btn-outline-secondary" (click)="filterBy('')">All</button>
  <button type="button" class="btn btn btn-outline-secondary" (click)="filterBy('completed')">Completed</button>
  <button type="button" class="btn btn btn-outline-secondary" (click)="filterBy('active')">Active</button>

  <!--Table - Tasks added repeated divisions-->
  <table class="table table-hover">
    <thead>
      <tr>
        <!-- <th scope="col">ID</th> -->
        <th scope="col">Completed</th>
        <th scope="col">Title</th>
        <!-- <th scope="col">Completed</th> -->
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of items; let id = index">
        <tr>
          <td class="completed-status">
            <input
              *ngIf="item.completed"
              class="form-check-input"
              type="checkbox"
              name="completed"
              id="completed"
              (click)="changeStatus(id)"
              checked
            >
            <input
              *ngIf="!item.completed"
              class="form-check-input"
              type="checkbox"
              name="completed"
              id="completed"
              (click)="changeStatus(id)"
            >
          </td>
          <td>
            <span>{{ item.title }}</span>
          </td>
          <!-- <td>
            <span>{{ item.completed }}</span>
          </td> -->
          <td>
            <button class="btn btn-secondary" (click)="itemIsEditable(id)">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteTask(id)">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>