<!--Division for heading-->
<div class="container-fluid">
	<div class="row bg-success justify-content-center
			align-items-center" style="height:80px">
		<div class="col-3"></div>
		<div class="col-6 text-light h2">
			Seb's Todo List
		</div>
	</div>

  <form [formGroup]="registerForm" (ngSubmit)="createTaskOnSubmit()">
    <div class="form-group">
      <label for="title">Task Title</label>
      <input type="text" formControlName="title" class="form-control" />
    </div>
    <div class="form-group">
      <label>Task Completed</label>
      <label>
          <input type="radio" name="completed" formControlName="completed" [value]="true" />Yes
      </label>
      <label>
          <input type="radio" name="completed" formControlName="completed" [value]="false" />No
      </label>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Create Task</button>
    </div>
  </form>

  <nav>
    {{ items }}
    <div *ngFor="let item of items">
      <ul>
      <li>
          Task Title: {{ item.title }}
        </li>
        <li>
          Task Completed: {{ item.completed }}
        </li>
      </ul>
    </div>
  </nav>

  <!--Division for taking input from user -->
	<div class="row mt-1" style="height:80px;">
		<div class="col-3 d-none col-md-3 d-md-block"></div>
		<div class="col-12 col-md-6 bg-success d-flex
					justify-content-center align-items-center
					text-light h3">

			<input [(ngModel)]="newTask" type="text"
					value="" class="col-7 form-control"
						style="width:300px;">

			<div class="col-1"></div>

			<button (click)="addToList('nothing')"
				class="btn btn-light text-success">
				ADD TASK
			</button>
		</div>

		<div class="col-3 d-none col-md-3 d-md-block"></div>
	</div>

	<!--Division for taking input from user -->
	<!-- <div class="row mt-1" style="height:80px;">
		<div class="col-3 d-none col-md-3 d-md-block"></div>
		<div class="col-12 col-md-6 bg-success d-flex
					justify-content-center align-items-center
					text-light h3">

			<input [(ngModel)]="newTask" type="text"
					value="" class="col-7 form-control"
						style="width:300px;">

			<div class="col-1"></div>

			<button (click)="addToList('nothing')"
				class="btn btn-light text-success">
				ADD TASK
			</button>
		</div>

		<div class="col-3 d-none col-md-3 d-md-block"></div>
	</div> -->

	<!--Tasks added repeated divisions-->
	<div *ngFor="let x of items; let index = index;"
			class="row mt-1" style="height:100px;">

		<div class="col-3 d-none col-md-3 d-md-block"></div>

		<div class="col-12 col-md-6 bg-success d-flex
					justify-content-center align-items-center
					text-light h3">

			<div class="col-9 text-light h3">{{x}}</div>

			<input (click)="deleteTask(index)" type="button"
				value="Delete" class="col-2 btn btn-danger">
		</div>
		
		<div class="col-3 d-none col-md-3 d-md-block"></div>
	</div>
</div>
